@font-face {
    font-family: 'jk';
    src: url('fontes/JKAbode-Demo.ttf');
}
@font-face {
    font-family: 'jk2';
    src: url('fontes/JKAbode-LightDemo.ttf');
}
@font-face {
    font-family: 'neuro';
    src: url('fontes/neuropolitical\ rg.ttf');
}
@font-face {
    font-family: 'zr';
    src: url('fontes/zrnic\ rg.ttf');
}