@font-face {
    font-family: 'danub2';
    src: url('fontes/DANUBE__.TTF');
}
*{
    font-family: 'nunito';
    margin: 0px;
    padding: 0px;
}
div#header{
    background-color: black;
}
header{
    padding: 10px 10px 15px 10px;
    background-color: black;
    display: block;
    max-width:1600px ;
    margin: auto;
}

h1.header{
    font-family: 'danub2';
    font-weight: normal;  
    color: rgb(255, 255, 255);  
    padding: 25px 0px 0px 20px;
    font-size: max(2.1vw,25px);
}
h2.header{
    font-family: 'nunito';
    font-weight: 100;
    color: rgb(190, 190, 190);
    padding: 10px 0px 20px 20px;
    text-indent: 0px;
}
a{ 
    border-radius: 0px;
    padding: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255) ;
    font-size: max(1.1vw,14px);
    /* background-color: rgb(224, 216, 198); 
       color:rgb(31, 31, 31) ;
    */
}
a:hover{
    font-weight: 700;
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
} 
body{
    background-color: rgb(135, 135, 135);
    margin: 0px;
    padding: 0px;
}
section{
    background-color: rgb(213, 233, 232);
    max-width: 1600px;
    margin: auto;
}

article{
   max-width:800px ;
   margin: auto;
   background-color: rgb(255, 255, 255);
   padding: 10px 0px 20px 0px;
   height: 100%;
}
article h1,h2{
    color: rgb(109, 109, 109);
    font-family: 'nunito';
    font-weight: 600;
    font-size:max(1.5vw,22px);
    padding: 10px 0px 0px 35px;
    text-align: justify;
    display: inline-block;
}
article h3{
    color: rgb(155, 138, 100);
    font-family: 'nunito';
    font-weight: 400;
    font-size:max(1.2vw,18px);
    padding: 0px 0px 10px 35px;
}
p{
    text-indent:15px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    font-size: max(1vw,16px);
    margin: auto;
    color: rgb(97, 97, 97);
}
